/* 全て */
body {
  background-color: #ffa400;
  box-sizing: border-box;
}

/* 使い回し */

.center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.bg-white {
  background-color: #fff;
}

/* spacer */

.spacer--extra-extra-small {
  height: 6px;
}
.spacer--extra-small {
  height: 12px;
}
.spacer--small {
  height: 20px;
}
.spacer--medium {
  height: 32px;
}
.spacer--big {
  height: 64px;
}

/* width */

.ninety-width-center {
  width: 90%;
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.ninety-width {
  width: 90%;
}

.half-width {
  width: 50%;
}

.width-fifty {
  width: 50%;
  margin: 0 auto;
  min-width: 280px;
}

.width-sixty {
  width: 60%;
  margin: 0 auto;
  min-width: 280px;
}

.width-seventy {
  width: 70%;
  margin: 0 auto;
  min-width: 280px;
}

.width-eighty {
  width: 80%;
  margin: 0 auto;
  min-width: 280px;
}

/* height */
.full-height {
  height: 100vh;
}

/* container */

.section-container-narrow {
  margin: 0 auto;
  max-width: 800px;
  width: calc(100%-2rem);
  background-color: #fff;
  padding: 1rem;
}

.section-container-wide {
  margin: 0 auto;
  max-width: 1000px;
  width: calc(100%-2rem);
  background-color: #fff;
  padding: 1rem;
}

.section-container-full {
  margin: 0 auto;
  width: calc(100%-2rem);
  background-color: #fff;
  padding: 1rem;
}

/* 見出し */

.heading-one {
  font-size: 1.3rem;
  margin: 0 auto 1rem auto;
  background: #51ecb2;
  padding: 20px 0;
}

.heading-two {
  font-size: 2rem;
  color: #fff;
}

/* 文字が見えなくなったら改行 */

.over-flow-wrap {
  word-break: break-all;
  width: 90%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
